<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @routine %>

    <h2>Exercises</h2>

    <table class="table-fixed w-full shadow-lg bg-white border-collapse">
      <thead>
        <tr class="bg-blue-100 border">
          <th>Name</th>
          <th>Weight</th>
          <th class="w-12">Sets</th>
          <th class="w-12">Rep</th>
          <th class="w-24">Intens.</th>
          <th class="w-12">Meas.</th>
          <th>Notes</th>
          <th>Exercise Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <!-- Show existing exercises -->
        <% @exercises&.each do |exercise| %>
          <tr class="hover:bg-gray-50 border-b border-blue-gray-200">
            <td class="px-3 py-3"><%= exercise.name %></td>
            <td class="text-end px-2 py-3"><%= exercise.weight %></td>
            <td class="text-end px-3 py-3"><%= exercise.sets %></td>
            <td class="text-end px-3 py-3"><%= exercise.repetitions %></td>
            <td class="text-end px-3 py-3"><%= exercise.intensity %></td>
            <td class="px-3 py-3"><%= exercise.intensity_measurement %></td>
            <td class="px-3 py-3"><%= exercise.notes %></td>
            <td class="px-3 py-3"><%= exercise.exercise_type&.name %></td>
            <td class="px-3 py-3"></td>
          </tr>
        <% end %>
        <%= form_with(model: [ @routine, @routine.exercises.build ], local: true) do |form| %>
          <tr class="border-b border-blue-gray-200">
            <td><%= form.text_field :name, class: 'input' %></td>
            <td><%= form.number_field :weight, class: 'input' %></td>
            <td><%= form.number_field :sets, class: 'input w-12'  %></td>
            <td><%= form.number_field :repetitions, class: 'input w-12' %></td>
            <td><%= form.number_field :intensity, class: 'input w-24' %></td>
            <td>
              <%= form.select :intensity_measurement, options_for_select(Exercise::INTENSITY_MEASUREMENTS.map { |m| [m, m] }), {}, {class: 'input'} %>
            </td>
            <td><%= form.text_field :notes, class: 'input' %></td>
            <td>
              <div>
                <%= form.collection_select :exercise_type_id, ExerciseType.order(:name), :id, :name, include_blank: true %>
                <%= form.label :new_exercise_type_name, "Or create new type:" %>
                <%= form.text_field :new_exercise_type_name, class: 'input', placeholder:"Or create new type:" %>
              </div>
            </td>
            <td>
              <%= form.submit "Add Exercise", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Edit this routine", edit_routine_path(@routine), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this routine", routine_path(@routine), method: :delete, data: { confirm: 'Are you sure?' }, class: "mt-2 rounded-lg py-3 px-5 bg-red-500 text-white font-medium" %>
    </div>
    <%= link_to "Back to routines", routines_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
