<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @routine %>

    <h2>Exercises</h2>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Weight</th>
          <th>Sets</th>
          <th>Repetitions</th>
          <th>Intensity</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% @exercises&.each do |exercise| %>
          <tr>
            <td><%= exercise.name %></td>
            <td><%= exercise.weight %></td>
            <td><%= exercise.sets %></td>
            <td><%= exercise.repetitions %></td>
            <td><%= exercise.intensity %></td>
            <td><%= exercise.notes %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= form_with(model: [ @routine, @routine.exercises.build ], local: true) do |form| %>
      <tr>
        <td><%= form.text_field :name %></td>
        <td><%= form.number_field :weight %></td>
        <td><%= form.number_field :sets %></td>
        <td><%= form.number_field :repetitions %></td>
        <td><%= form.number_field :intensity %></td>
        <td><%= form.text_field :notes %></td>
        <td><%= form.submit "Add Exercise" %></td>
      </tr>
    <% end %>


    <%= link_to "Edit this routine", edit_routine_path(@routine), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this routine", routine_path(@routine), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to routines", routines_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
